In [2]:
import json 
import numpy as np
import pandas as pd

#!pip install fasttext
#!wget -O ./data/lid.176.bin https://dl.fbaipublicfiles.com/fasttext/supervised-models/lid.176.bin
import fasttext
import re

import string

from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

## [WH+TW] Create datasets

In [5]:
def get_whisper(filename):
    serial = []
    text = []
    for line in open(filename, 'r'):
        new_data = json.loads(line)
        serial.append(new_data["serial"])
        text.append(new_data["text"])
    return pd.DataFrame({"serial": serial, "text": text})

def get_twitter(filename):
    text = []
    for line in open(filename, 'r'):
        splitted = line.split('\t')
        if len(splitted) == 4:
            text.append(splitted[2])
    return pd.DataFrame({"text": text})

def is_english(text):
    dl = lang_model.predict(text)[0][0][-2:]
    return dl == 'en'

def replace_if_lang(df, text):
    def func(row):
        if is_english(row["text"]):
            return row["text"]
        return ""
    df['text'] = df.apply(func, axis=1).tolist()
    return df

def replace_in_df(df, regex, text):
    def func(row):
        return re.sub(regex, text, row["text"])
    df['text'] = df.apply(func, axis=1).tolist()
    return df

def clean_tweets(df, min_length=8):
    # delete the entire tweet (1/2)
    df = replace_in_df(df, r".*RT @.*", "") # retweets
    df = replace_in_df(df, r".*\[\[.*", "") # placeholders
    # delete only a part of the tweet
    df = replace_in_df(df, r"http(s?)://\S+", "") # links
    df = replace_in_df(df, r"@\S+", "") # mentions
    df = replace_in_df(df, r"#\S+", "") # hashtags
    df = replace_in_df(df, r"\n", " ") # newline
    df = replace_in_df(df, r"  +", " ") # multiple spaces
    df = replace_in_df(df, r"^ ", "") # space at the begin of line
    df = replace_in_df(df, r" $", "") # space at the end of line
    # delete the entire tweet (2/2)
    df = replace_if_lang(df, "") # texts not in English
    df = df[df['text'].map(len) >= min_length] # short text
    return df.drop_duplicates()

def get_datasets(whisper_filename, twitter_filename):
    def get_dataset(filename, func, cls):
        data = func(filename)
        data["class"] = cls
        data = data[['text', 'class']]
        return clean_tweets(data)
    data_w = get_dataset(whisper_filename, get_whisper, "sens")
    data_t = get_dataset(twitter_filename, get_twitter, "ns")
    return data_w, data_t

def save_samples_data(num_samples, df_sens, df_ns, num_sens, num_ns, filename_prefix):
    for count in range(num_samples):
        df_sens[(num_sens*count):(num_sens*(count+1))].append(df_ns[(num_ns*count):(num_ns*(count+1))]).sample(frac=1, random_state=2**count).reset_index(drop=True).to_csv(filename_prefix+("0"+str(count+1))[-2:]+".csv", index=False)
    return

lang_model = fasttext.load_model('./data/lid.176.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [ ]:
df_sens, df_ns = get_datasets('/data/whisper/final-anonymized.jun14.jun16.whisper-part-000.json', 
                '/data/twitter-cikm-2010/test_set_tweets.txt')

In [92]:
df_sens

                                                      text class
0        My mom just sold my fucking bed without tellin...  sens
1        Me and this guy had a full heart to heart conv...  sens
3                                      NJ women message me  sens
4                                   Who am I even anymore?  sens
5        I'm a post man. N would love a lonely houswife...  sens
...                                                    ...   ...
3595080    because of tumblr girls I wish I wasn't my race  sens
3595081  Still looking to find that first attractive gi...  sens
3595082  Just dropped my phone on my face three times w...  sens
3595083  I never really appreciated my mom until, as a ...  sens
3595084  Just found out one of my close friends liked a...  sens

[3228927 rows x 2 columns]

In [93]:
df_ns

                                                      text class
0        Ok today I have to find something to wear for ...    ns
1        I am glad I'm having this show but I can't wai...    ns
2        Honestly I don't even know what's going on any...    ns
3        hey sorry I'm sitting infront of this sewing m...    ns
4        Sitting infront of this sewing machine ... I d...    ns
...                                                    ...   ...
5108193                                   Where's the spot    ns
5108197  I need 2 labtops. 1 for playin music n 1 4 the...    ns
5108198  whip like a slave is that song u was askin bou...    ns
5108201  das rite b4 eastternparkway rite (comin from m...    ns
5108207                       lmaooo yea dat shit is crazy    ns

[3805606 rows x 2 columns]

In [88]:
save_samples_data(10, df_sens.sample(frac=1, replace=False, random_state=512), df_ns.sample(frac=1, replace=False, random_state=256), 3336, 5429, "./data/sample_ann2_")

## Dataset Analysis

In [8]:
import itertools
import collections

def get_data(path, lim=2):
    data = pd.read_csv(path, sep=',', error_bad_lines=False)
    res = {"uri":[], "text":[], "class":[]}
    for tag in data.columns[2:]:
        tmp = data[data[tag] >= lim]
        res["uri"] += tmp["uri"].tolist()
        res["text"] += tmp["text"].tolist()
        res["class"] += [tag]*len(tmp)
    res = pd.DataFrame(res).sort_values(by="uri")
    return res

# keep only "Sensibile" and "Non sensibile" as "sens" and "ns"
def get_two_classes(df):
    res = df[df["class"].isin(["Sensibile", "Non sensibile"])].copy()
    res.loc[res["class"] == "Sensibile", "class"] = "sens"
    res.loc[res["class"] == "Non sensibile", "class"] = "ns"
    return res

STOPWORDS = set(stopwords.words("english"))
STEMMER = SnowballStemmer('english')
LEMMATIZER = WordNetLemmatizer()

def clean_text(text):
    ## Remove puncuation
    text = text.translate(string.punctuation)
    text = word_tokenize(text)  # tokenize text
    ## Remove english stop words
    #stop_words = set(stopwords.words("english"))

    text = [w for w in text if w not in STOPWORDS and w.lower() not in STOPWORDS]  # remove stop words
    text = " ".join(text)

    # Clean the text
    text = re.sub("[^a-zA-z0-9\s]", " ", text)
    # text = re.sub("[^a-zA-Z#]", " ", text)
    text = word_tokenize(text)  # tokenize text
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

#stem_or_lemma: 1 for stemming, 2 for lemmatization, other for none
def clean_text(text, remove_sw=False, stem_or_lemma=0):
    def remove_url(txt):
        return " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", txt).split())
    
    res = remove_url(text).lower().split()
    # Remove english stop words
    if remove_sw:
        #stop_words = set(stopwords.words("english"))
        res = [word for word in res if not word in STOPWORDS]
    if stem_or_lemma == 1: # stemming
        #stemmer = SnowballStemmer('english')
        res = [STEMMER.stem(word) for word in res]
        #res = " ".join([stemmer.stem(word) for word in res])
    elif stem_or_lemma == 2: # lemmatization
        #lemmatizer = WordNetLemmatizer()
        res = [LEMMATIZER.lemmatize(word, pos='v') for word in res]

    return res#.split() #remove_url(text).lower().split()

def get_df_stats(df):
    df_mean = df.groupby("word").mean().reset_index().sort_values(by="all", ascending=False).reset_index(drop=True)
    df_mean.columns = ["word"]+[x+"_mean" for x in df_mean.columns[1:]]
    df_std = df.groupby("word").std().fillna(0).reset_index()
    df_std.columns = ["word"]+[x+"_std" for x in df_std.columns[1:]]
    return df_mean.merge(df_std)

def get_df_stats_2(data, main_col):
    words_sens = list(itertools.chain(*data[data['class'] == 'sens'][main_col].values.tolist()))
    #words_ns = list(itertools.chain(*data[data['class'] == 'ns'][main_col].values.tolist()))
    words_all = list(itertools.chain(*data[main_col].values.tolist()))
    wordcount_sens = collections.Counter(words_sens)
    #wordcount_ns = collections.Counter(words_ns)
    wordcount_all = collections.Counter(words_all)
    print("Top words", wordcount_all.most_common(20),"\n")
    top_wc_dict = {"word": [], "all": [], "sens": [], "ns": [], "perc_sens": [], "perc_ns": []}
    for word in wordcount_all:
        num_all = wordcount_all[word]
        num_sens = wordcount_sens[word]
        perc_sens = round((num_sens*100)/num_all,2)
        #print(item[0], item[1], perc_sens, round((100.0-perc_sens), 2))
        top_wc_dict["word"].append(word)
        top_wc_dict["all"].append(num_all)
        top_wc_dict["sens"].append(num_sens)
        top_wc_dict["ns"].append(num_all-num_sens)
        top_wc_dict["perc_sens"].append(perc_sens)
        top_wc_dict["perc_ns"].append(round((100.0-perc_sens), 2))
    return pd.DataFrame(top_wc_dict)

### [Sens] Datasets

In [15]:
data = get_data("./data/annotation_results.csv", lim=2)
data = get_two_classes(data)
data['text_cleaned_stem'] = data['text'].map(lambda x: clean_text(x, remove_sw=True, stem_or_lemma=1))
data = get_df_stats_2(data, 'text_cleaned_stem').sort_values(by="all", ascending=False).reset_index(drop=True)
data

Top words [('propnam', 1062), ('go', 775), ('get', 651), ('day', 610), ('im', 493), ('like', 490), ('work', 458), ('time', 447), ('one', 433), ('love', 406), ('back', 364), ('want', 361), ('new', 358), ('today', 346), ('good', 343), ('think', 327), ('make', 306), ('know', 301), ('need', 295), ('got', 290)]

            word   all  sens   ns  perc_sens  perc_ns
0        propnam  1062   580  482      54.61    45.39
1             go   775   426  349      54.97    45.03
2            get   651   316  335      48.54    51.46
3            day   610   316  294      51.80    48.20
4             im   493   253  240      51.32    48.68
...          ...   ...   ...  ...        ...      ...
11824    converg     1     1    0     100.00     0.00
11825  augustand     1     1    0     100.00     0.00
11826    uchicon     1     1    0     100.00     0.00
11827   uchicago     1     1    0     100.00     0.00
11828     sniper     1     0    1       0.00   100.00

[11829 rows x 6 columns]

In [20]:
main_cols = ["word", "all", "perc_sens", "perc_ns"]
rename_cols = {"perc_sens":"%_sens", "perc_ns":"%_ns"}
top_values = 20
print("##  TOP", top_values, "all words")
print(data[main_cols][:top_values])
print("\n##  TOP", top_values, "sensible words")
main_cols = ["word", "sens", "perc_sens", "perc_ns"]
print(data.sort_values(by="sens", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "not sensible words")
main_cols = ["word", "ns", "perc_sens", "perc_ns"]
print(data.sort_values(by="ns", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "percentage sensible words")
main_cols = ["word", "all", "perc_sens", "perc_ns"]
print(data[data["all"]>=100].sort_values(by="perc_sens", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "percentage not sensible words")
main_cols = ["word", "all", "perc_sens", "perc_ns"]
print(data[data["all"]>=100].sort_values(by="perc_ns", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])

##  TOP 20 all words
       word   all  perc_sens  perc_ns
0   propnam  1062      54.61    45.39
1        go   775      54.97    45.03
2       get   651      48.54    51.46
3       day   610      51.80    48.20
4        im   493      51.32    48.68
5      like   490      32.24    67.76
6      work   458      64.19    35.81
7      time   447      41.61    58.39
8       one   433      30.95    69.05
9      love   406      32.27    67.73
10     back   364      64.01    35.99
11     want   361      41.83    58.17
12      new   358      36.03    63.97
13    today   346      54.62    45.38
14     good   343      40.82    59.18
15    think   327      31.80    68.20
16     make   306      35.29    64.71
17     know   301      38.87    61.13
18     need   295      40.00    60.00
19      got   290      51.03    48.97

##  TOP 20 sensible words
        word  sens  %_sens   %_ns
0    propnam   580   54.61  45.39
1         go   426   54.97  45.03
2        get   316   48.54  51.46
3        day   316   51.80  48.20
6       work   294   64.19  35.81
4         im   253   51.32  48.68
10      back   233   64.01  35.99
29      home   192   78.05  21.95
13     today   189   54.62  45.38
7       time   186   41.61  58.39
28  tomorrow   181   73.28  26.72
20     night   168   58.33  41.67
5       like   158   32.24  67.76
11      want   151   41.83  58.17
19       got   148   51.03  48.97
31   tonight   147   63.91  36.09
14      good   140   40.82  59.18
8        one   134   30.95  69.05
9       love   131   32.27  67.73
38      week   130   64.04  35.96

##  TOP 20 not sensible words
       word   ns  %_sens   %_ns
0   propnam  482   54.61  45.39
1        go  349   54.97  45.03
2       get  335   48.54  51.46
5      like  332   32.24  67.76
8       one  299   30.95  69.05
3       day  294   51.80  48.20
9      love  275   32.27  67.73
7      time  261   41.61  58.39
4        im  240   51.32  48.68
12      new  229   36.03  63.97
15    think  223   31.80  68.20
11     want  210   41.83  58.17
14     good  203   40.82  59.18
16     make  198   35.29  64.71
22     dont  187   32.73  67.27
27    peopl  186   25.90  74.10
17     know  184   38.87  61.13
18     need  177   40.00  60.00
30     life  166   30.25  69.75
6      work  164   64.19  35.81

##  TOP 20 percentage sensible words
         word  all  %_sens   %_ns
29       home  246   78.05  21.95
97       sick  110   77.27  22.73
28   tomorrow  247   73.28  26.72
96   birthday  110   65.45  34.55
71      class  136   65.44  34.56
6        work  458   64.19  35.81
38       week  203   64.04  35.96
10       back  364   64.01  35.99
31    tonight  230   63.91  36.09
53    weekend  166   63.86  36.14
86       miss  120   63.33  36.67
58     school  160   61.25  38.75
48      sleep  175   60.57  39.43
84       hous  121   60.33  39.67
63       wait  151   60.26  39.74
20      night  288   58.33  41.67
55       hour  163   58.28  41.72
67      excit  139   58.27  41.73
100      head  105   57.14  42.86
104       yay  102   56.86  43.14

##  TOP 20 percentage not sensible words
         word  all  %_sens   %_ns
83   facebook  122   13.93  86.07
78      world  127   18.90  81.10
102     alway  102   23.53  76.47
81      never  123   24.39  75.61
27      peopl  251   25.90  74.10
108     write  100   26.00  74.00
70   christma  136   27.21  72.79
69        say  137   29.20  70.80
74       ever  133   29.32  70.68
30       life  238   30.25  69.75
82       read  122   30.33  69.67
45      would  188   30.85  69.15
8         one  433   30.95  69.05
88       done  119   31.09  68.91
80     someth  125   31.20  68.80
15      think  327   31.80  68.20
5        like  490   32.24  67.76
9        love  406   32.27  67.73
66        let  141   32.62  67.38
22       dont  278   32.73  67.27

In [21]:
data = get_data("./data/annotation_results.csv", lim=3)
data = get_two_classes(data)
data['text_cleaned_stem'] = data['text'].map(lambda x: clean_text(x, remove_sw=True, stem_or_lemma=1))
data = get_df_stats_2(data, 'text_cleaned_stem').sort_values(by="all", ascending=False).reset_index(drop=True)
data

Top words [('propnam', 518), ('go', 382), ('get', 308), ('day', 267), ('like', 223), ('im', 206), ('one', 203), ('love', 200), ('time', 199), ('work', 187), ('back', 187), ('new', 168), ('see', 165), ('today', 160), ('want', 155), ('peopl', 155), ('good', 152), ('think', 152), ('dont', 151), ('make', 150)]

           word  all  sens   ns  perc_sens  perc_ns
0       propnam  518   323  195      62.36    37.64
1            go  382   234  148      61.26    38.74
2           get  308   154  154      50.00    50.00
3           day  267   138  129      51.69    48.31
4          like  223    64  159      28.70    71.30
...         ...  ...   ...  ...        ...      ...
7303  disciplin    1     0    1       0.00   100.00
7304      ember    1     0    1       0.00   100.00
7305     alight    1     0    1       0.00   100.00
7306     suprem    1     1    0     100.00     0.00
7307     sniper    1     0    1       0.00   100.00

[7308 rows x 6 columns]

In [22]:
main_cols = ["word", "all", "perc_sens", "perc_ns"]
rename_cols = {"perc_sens":"%_sens", "perc_ns":"%_ns"}
top_values = 20
print("##  TOP", top_values, "all words")
print(data[main_cols][:top_values])
print("\n##  TOP", top_values, "sensible words")
main_cols = ["word", "sens", "perc_sens", "perc_ns"]
print(data.sort_values(by="sens", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "not sensible words")
main_cols = ["word", "ns", "perc_sens", "perc_ns"]
print(data.sort_values(by="ns", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "percentage sensible words")
main_cols = ["word", "all", "perc_sens", "perc_ns"]
print(data[data["all"]>=100].sort_values(by="perc_sens", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "percentage not sensible words")
main_cols = ["word", "all", "perc_sens", "perc_ns"]
print(data[data["all"]>=100].sort_values(by="perc_ns", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])

##  TOP 20 all words
       word  all  perc_sens  perc_ns
0   propnam  518      62.36    37.64
1        go  382      61.26    38.74
2       get  308      50.00    50.00
3       day  267      51.69    48.31
4      like  223      28.70    71.30
5        im  206      52.91    47.09
6       one  203      23.65    76.35
7      love  200      26.00    74.00
8      time  199      44.22    55.78
9      work  187      72.73    27.27
10     back  187      70.59    29.41
11      new  168      32.14    67.86
12      see  165      48.48    51.52
13    today  160      57.50    42.50
14    peopl  155      17.42    82.58
15     want  155      40.00    60.00
16    think  152      24.34    75.66
17     good  152      36.84    63.16
18     dont  151      25.17    74.83
19     make  150      28.67    71.33

##  TOP 20 sensible words
        word  sens  %_sens   %_ns
0    propnam   323   62.36  37.64
1         go   234   61.26  38.74
2        get   154   50.00  50.00
3        day   138   51.69  48.31
9       work   136   72.73  27.27
10      back   132   70.59  29.41
20      home   123   86.62  13.38
5         im   109   52.91  47.09
26  tomorrow    99   81.82  18.18
13     today    92   57.50  42.50
8       time    88   44.22  55.78
12       see    80   48.48  51.52
33   tonight    79   78.22  21.78
36   weekend    71   73.96  26.04
29     night    68   59.13  40.87
22      come    67   48.91  51.09
52      sick    66   82.50  17.50
4       like    64   28.70  71.30
27       got    62   52.99  47.01
15      want    62   40.00  60.00

##  TOP 20 not sensible words
       word   ns  %_sens   %_ns
0   propnam  195   62.36  37.64
4      like  159   28.70  71.30
6       one  155   23.65  76.35
2       get  154   50.00  50.00
7      love  148   26.00  74.00
1        go  148   61.26  38.74
3       day  129   51.69  48.31
14    peopl  128   17.42  82.58
16    think  115   24.34  75.66
11      new  114   32.14  67.86
18     dont  113   25.17  74.83
8      time  111   44.22  55.78
19     make  107   28.67  71.33
5        im   97   52.91  47.09
17     good   96   36.84  63.16
21     know   95   32.14  67.86
15     want   93   40.00  60.00
23    happi   91   33.09  66.91
30     life   88   21.43  78.57
12      see   85   48.48  51.52

##  TOP 20 percentage sensible words
        word  all  %_sens   %_ns
20      home  142   86.62  13.38
26  tomorrow  121   81.82  18.18
33   tonight  101   78.22  21.78
9       work  187   72.73  27.27
10      back  187   70.59  29.41
0    propnam  518   62.36  37.64
1         go  382   61.26  38.74
29     night  115   59.13  40.87
13     today  160   57.50  42.50
27       got  117   52.99  47.01
5         im  206   52.91  47.09
3        day  267   51.69  48.31
2        get  308   50.00  50.00
24      cant  123   49.59  50.41
22      come  137   48.91  51.09
12       see  165   48.48  51.52
8       time  199   44.22  55.78
25      feel  122   42.62  57.38
15      want  155   40.00  60.00
17      good  152   36.84  63.16

##  TOP 20 percentage not sensible words
     word  all  %_sens   %_ns
14  peopl  155   17.42  82.58
30   life  112   21.43  78.57
6     one  203   23.65  76.35
16  think  152   24.34  75.66
18   dont  151   25.17  74.83
7    love  200   26.00  74.00
28   look  115   27.83  72.17
19   make  150   28.67  71.33
4    like  223   28.70  71.30
21   know  140   32.14  67.86
11    new  168   32.14  67.86
31   need  107   32.71  67.29
23  happi  136   33.09  66.91
32  first  102   36.27  63.73
17   good  152   36.84  63.16
15   want  155   40.00  60.00
25   feel  122   42.62  57.38
8    time  199   44.22  55.78
12    see  165   48.48  51.52
22   come  137   48.91  51.09

### [WH+TW] Datasets

In [10]:
data = pd.read_csv("./data/sample_ann2_01.csv")
data['text_cleaned_stem'] = data['text'].map(lambda x: clean_text(x, remove_sw=True, stem_or_lemma=1))
tmp = tmp_func(data, 'text_cleaned_stem')

data = pd.read_csv("./data/sample_ann2_02.csv")
data['text_cleaned_stem'] = data['text'].map(lambda x: clean_text(x, remove_sw=True, stem_or_lemma=1))
tmp = tmp_func(data, 'text_cleaned_stem').append(tmp)

Top words [('im', 1255), ('like', 704), ('want', 647), ('u', 631), ('get', 602), ('go', 566), ('lol', 548), ('love', 497), ('dont', 481), ('girl', 478), ('know', 408), ('good', 381), ('guy', 345), ('day', 339), ('one', 329), ('time', 325), ('feel', 317), ('think', 311), ('need', 307), ('look', 275)]

Top words [('im', 1276), ('like', 704), ('u', 663), ('get', 646), ('want', 626), ('love', 536), ('dont', 527), ('girl', 500), ('go', 497), ('lol', 493), ('guy', 380), ('know', 372), ('good', 341), ('one', 341), ('need', 332), ('time', 320), ('feel', 318), ('day', 300), ('look', 292), ('got', 276)]

In [46]:
data = pd.DataFrame()
for index in range(10):
    data_loc = pd.read_csv("./data/sample_ann2_"+(("0"+str(index+1))[-2:])+".csv")
    data_loc['text_cleaned_stem'] = data_loc['text'].map(lambda x: clean_text(x, remove_sw=True, stem_or_lemma=1))
    data = data.append(get_df_stats_2(data_loc, 'text_cleaned_stem'))

data = get_df_stats(data).sort_values(by="all_mean", ascending=False).reset_index(drop=True)
data

Top words [('im', 1255), ('like', 704), ('want', 647), ('u', 631), ('get', 602), ('go', 566), ('lol', 548), ('love', 497), ('dont', 481), ('girl', 478), ('know', 408), ('good', 381), ('guy', 345), ('day', 339), ('one', 329), ('time', 325), ('feel', 317), ('think', 311), ('need', 307), ('look', 275)]

Top words [('im', 1276), ('like', 704), ('u', 663), ('get', 646), ('want', 626), ('love', 536), ('dont', 527), ('girl', 500), ('go', 497), ('lol', 493), ('guy', 380), ('know', 372), ('good', 341), ('one', 341), ('need', 332), ('time', 320), ('feel', 318), ('day', 300), ('look', 292), ('got', 276)]

Top words [('im', 1321), ('like', 720), ('get', 633), ('u', 593), ('want', 571), ('lol', 556), ('go', 547), ('love', 535), ('girl', 523), ('dont', 475), ('know', 413), ('guy', 406), ('one', 373), ('good', 352), ('day', 347), ('think', 334), ('feel', 328), ('need', 322), ('got', 302), ('time', 293)]

Top words [('im', 1321), ('like', 711), ('get', 626), ('u', 598), ('want', 557), ('girl', 524), ('go', 506), ('love', 495), ('lol', 484), ('dont', 438), ('guy', 401), ('good', 391), ('know', 370), ('need', 338), ('feel', 330), ('think', 329), ('one', 325), ('time', 319), ('day', 303), ('make', 301)]

Top words [('im', 1279), ('get', 671), ('like', 658), ('u', 648), ('want', 611), ('love', 559), ('girl', 553), ('go', 551), ('dont', 502), ('lol', 498), ('guy', 422), ('know', 395), ('good', 376), ('one', 359), ('time', 337), ('think', 321), ('feel', 318), ('need', 312), ('look', 303), ('day', 295)]

Top words [('im', 1283), ('like', 667), ('get', 613), ('want', 607), ('u', 601), ('girl', 538), ('go', 532), ('lol', 517), ('love', 514), ('dont', 487), ('guy', 423), ('know', 406), ('good', 362), ('need', 359), ('feel', 344), ('time', 326), ('think', 318), ('one', 306), ('day', 305), ('cant', 281)]

Top words [('im', 1185), ('like', 735), ('want', 649), ('get', 592), ('u', 589), ('lol', 555), ('girl', 502), ('go', 502), ('dont', 490), ('love', 485), ('guy', 432), ('know', 372), ('good', 370), ('need', 345), ('feel', 344), ('think', 328), ('look', 310), ('got', 307), ('one', 307), ('time', 288)]

Top words [('im', 1323), ('like', 716), ('get', 622), ('want', 603), ('u', 595), ('lol', 524), ('love', 523), ('go', 517), ('dont', 511), ('girl', 487), ('know', 408), ('guy', 404), ('good', 360), ('one', 353), ('feel', 338), ('got', 313), ('time', 312), ('need', 301), ('think', 300), ('look', 294)]

Top words [('im', 1273), ('like', 680), ('get', 651), ('u', 649), ('want', 585), ('girl', 559), ('lol', 547), ('love', 529), ('go', 498), ('dont', 490), ('know', 386), ('guy', 382), ('one', 354), ('think', 342), ('feel', 333), ('day', 321), ('need', 318), ('time', 308), ('got', 303), ('good', 287)]

Top words [('im', 1284), ('like', 673), ('get', 636), ('want', 587), ('u', 572), ('go', 532), ('love', 505), ('dont', 496), ('girl', 489), ('lol', 480), ('good', 370), ('guy', 367), ('know', 362), ('need', 354), ('one', 330), ('think', 324), ('time', 319), ('feel', 316), ('got', 302), ('day', 292)]

,word,all_mean,sens_mean,ns_mean,perc_sens_mean,perc_ns_mean,all_std,sens_std,ns_std,perc_sens_std,perc_ns_std
0,im,1280.0,721.6,558.4,56.378,43.622,40.759457,26.990533,24.949727,1.259151,1.259151
1,like,696.8,369.4,327.4,53.052,46.948,25.633312,14.261058,23.726216,2.226591,2.226591
2,get,629.2,239.5,389.7,38.060,61.940,23.602260,13.664634,17.269433,1.586485,1.586485
3,u,613.9,36.9,577.0,6.015,93.985,31.067847,5.724218,30.404678,0.934074,0.934074
4,want,604.3,473.6,130.7,78.368,21.632,30.485151,26.213652,11.235361,1.597879,1.597879
...,...,...,...,...,...,...,...,...,...,...,...
42286,rescart,1.0,0.0,1.0,0.000,100.000,0.000000,0.000000,0.000000,0.000000,0.000000
42287,uglyyyyyyi,1.0,1.0,0.0,100.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
42288,reschedulei,1.0,0.0,1.0,0.000,100.000,0.000000,0.000000,0.000000,0.000000,0.000000
42289,uglyperson,1.0,0.0,1.0,0.000,100.000,0.000000,0.000000,0.000000,0.000000,0.000000
42290,zzzzzzzzzzzzzz,1.0,0.0,1.0,0.000,100.000,0.000000,0.000000,0.000000,0.000000,0.000000

In [67]:
main_cols = ["word", "all_mean", "all_std", "perc_sens_mean", "perc_sens_std", "perc_ns_mean", "perc_ns_std"]
rename_cols = {"perc_sens_mean":"%_sens_mean", "perc_sens_std":"%_sens_std", "perc_ns_mean":"%_ns_mean", "perc_ns_std":"%_ns_std"}
top_values = 20
print("##  TOP", top_values, "all words")
print(data[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "sensible words")
main_cols = ["word", "sens_mean", "sens_std", "perc_sens_mean", "perc_sens_std", "perc_ns_mean", "perc_ns_std"]
print(data.sort_values(by="sens_mean", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "not sensible words")
main_cols = ["word", "ns_mean", "ns_std", "perc_sens_mean", "perc_sens_std", "perc_ns_mean", "perc_ns_std"]
print(data.sort_values(by="ns_mean", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "percentage sensible words")
main_cols = ["word", "all_mean", "all_std", "perc_sens_mean", "perc_sens_std", "perc_ns_mean", "perc_ns_std"]
print(data[data["all_mean"]>=100].sort_values(by="perc_sens_mean", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])
print("\n##  TOP", top_values, "percentage not sensible words")
main_cols = ["word", "all_mean", "all_std", "perc_sens_mean", "perc_sens_std", "perc_ns_mean", "perc_ns_std"]
print(data[data["all_mean"]>=100].sort_values(by="perc_ns_mean", ascending=False)[main_cols].rename(columns=rename_cols)[:top_values])

##  TOP 20 all words
     word  all_mean    all_std  %_sens_mean  %_sens_std  %_ns_mean  %_ns_std
0      im    1280.0  40.759457       56.378    1.259151     43.622  1.259151
1    like     696.8  25.633312       53.052    2.226591     46.948  2.226591
2     get     629.2  23.602260       38.060    1.586485     61.940  1.586485
3       u     613.9  31.067847        6.015    0.934074     93.985  0.934074
4    want     604.3  30.485151       78.368    1.597879     21.632  1.597879
5      go     524.8  24.507595       34.380    1.802745     65.620  1.802745
6     lol     520.2  30.124925        7.640    1.083974     92.360  1.083974
7    love     517.8  22.812277       58.655    1.820264     41.345  1.820264
8    girl     515.3  28.433353       83.171    1.078162     16.829  1.078162
9    dont     489.7  23.589310       53.134    2.405462     46.866  2.405462
10    guy     396.2  27.454204       83.885    2.203463     16.115  2.203463
11   know     389.2  19.147382       49.406    2.587505     50.594  2.587505
12   good     359.0  29.070795       27.312    2.929607     72.688  2.929607
13    one     337.7  22.246348       51.304    2.981894     48.696  2.981894
14   need     328.8  19.993332       47.495    2.567551     52.505  2.567551
15   feel     328.6  11.067470       66.907    2.205992     33.093  2.205992
16  think     318.3  18.956383       53.259    2.514073     46.741  2.514073
17   time     314.7  15.026273       43.844    2.954857     56.156  2.954857
18    day     305.8  24.307292       36.064    3.329735     63.936  3.329735
19    got     293.2  14.845875       26.284    3.296669     73.716  3.296669

##  TOP 20 sensible words
      word  sens_mean   sens_std  %_sens_mean  %_sens_std  %_ns_mean  %_ns_std
0       im      721.6  26.990533       56.378    1.259151     43.622  1.259151
4     want      473.6  26.213652       78.368    1.597879     21.632  1.597879
8     girl      428.5  22.790105       83.171    1.078162     16.829  1.078162
1     like      369.4  14.261058       53.052    2.226591     46.948  2.226591
10     guy      332.4  25.530809       83.885    2.203463     16.115  2.203463
7     love      303.9  20.085650       58.655    1.820264     41.345  1.820264
9     dont      260.1  15.552420       53.134    2.405462     46.866  2.405462
2      get      239.5  13.664634       38.060    1.586485     61.940  1.586485
15    feel      219.9  11.415876       66.907    2.205992     33.093  2.205992
22  friend      202.4   5.146736       76.349    1.860994     23.651  1.860994
11    know      192.6  18.081298       49.406    2.587505     50.594  2.587505
5       go      180.3  10.456789       34.380    1.802745     65.620  1.802745
13     one      173.2  14.420664       51.304    2.981894     48.696  2.981894
27    talk      169.9  10.887812       72.566    2.871725     27.434  2.871725
16   think      169.4  11.305849       53.259    2.514073     46.741  2.514073
25   peopl      157.9  13.947919       64.068    1.781365     35.932  1.781365
14    need      156.3  14.345344       47.495    2.567551     52.505  2.567551
20    look      153.9   8.569325       54.181    2.652866     45.819  2.652866
30   wanna      149.8  11.321563       70.938    3.012883     29.062  3.012883
40  someon      139.8  16.088643       79.843    1.895515     20.157  1.895515

##  TOP 20 not sensible words
     word  ns_mean     ns_std  %_sens_mean  %_sens_std  %_ns_mean  %_ns_std
3       u    577.0  30.404678        6.015    0.934074     93.985  0.934074
0      im    558.4  24.949727       56.378    1.259151     43.622  1.259151
6     lol    480.4  27.043997        7.640    1.083974     92.360  1.083974
2     get    389.7  17.269433       38.060    1.586485     61.940  1.586485
5      go    344.5  21.114766       34.380    1.802745     65.620  1.802745
1    like    327.4  23.726216       53.052    2.226591     46.948  2.226591
12   good    260.7  20.591530       27.312    2.929607     72.688  2.929607
9    dont    229.6  17.821336       53.134    2.405462     46.866  2.405462
19    got    216.2  15.718354       26.284    3.296669     73.716  3.296669
7    love    213.9   9.677580       58.655    1.820264     41.345  1.820264
11   know    196.6   7.748835       49.406    2.587505     50.594  2.587505
18    day    195.4  17.417743       36.064    3.329735     63.936  3.329735
29      2    185.4  12.375603       14.024    2.497364     85.976  2.497364
17   time    176.7  12.302213       43.844    2.954857     56.156  2.954857
14   need    172.5  11.559027       47.495    2.567551     52.505  2.567551
23   work    170.8  10.538817       35.157    2.205720     64.843  2.205720
13    one    164.5  15.443445       51.304    2.981894     48.696  2.981894
16  think    148.9  13.127156       53.259    2.514073     46.741  2.514073
21   make    141.9  10.928556       48.224    2.967341     51.776  2.967341
28    see    139.1   6.261878       40.162    3.720913     59.838  3.720913

##  TOP 20 percentage sensible words
         word  all_mean    all_std  %_sens_mean  %_sens_std  %_ns_mean  \
91       chat     101.1   7.823753       96.591    1.488306      3.409
73  boyfriend     117.3  15.944696       95.194    1.963207      4.806
62        sex     136.8  13.172362       91.404    2.779713      8.596
10        guy     396.2  27.454204       83.885    2.203463     16.115
46      anyon     162.8   8.390471       83.323    2.128834     16.677
8        girl     515.3  28.433353       83.171    1.078162     16.829
82       bore     110.3  11.614646       80.319    4.183880     19.681
40     someon     175.0  18.879736       79.843    1.895515     20.157
4        want     604.3  30.485151       78.368    1.597879     21.632
22     friend     265.2   8.011103       76.349    1.860994     23.651
27       talk     234.2  13.314987       72.566    2.871725     27.434
30      wanna     211.1  12.077987       70.938    3.012883     29.062
80       ladi     110.9  13.253511       69.505    4.162636     30.495
61       wish     139.9  12.573782       69.258    3.703310     30.742
87       find     104.8  11.773794       67.731    3.183452     32.269
51        ive     151.5   9.021579       67.298    3.265179     32.702
15       feel     328.6  11.067470       66.907    2.205992     33.093
41       hate     174.9  11.019679       65.669    4.024032     34.331
25      peopl     246.8  24.760183       64.068    1.781365     35.932
49       life     156.3  15.727188       63.266    3.391398     36.734

    %_ns_std
91  1.488306
73  1.963207
62  2.779713
10  2.203463
46  2.128834
8   1.078162
82  4.183880
40  1.895515
4   1.597879
22  1.860994
27  2.871725
30  3.012883
80  4.162636
61  3.703310
87  3.183452
51  3.265179
15  2.205992
41  4.024032
25  1.781365
49  3.391398

##  TOP 20 percentage not sensible words
     word  all_mean    all_std  %_sens_mean  %_sens_std  %_ns_mean  %_ns_std
3       u     613.9  31.067847        6.015    0.934074     93.985  0.934074
66     ur     125.1  17.704049        6.626    2.984606     93.374  2.984606
6     lol     520.2  30.124925        7.640    1.083974     92.360  1.083974
67      n     124.7  13.081369       10.283    3.933139     89.717  3.933139
71  thank     117.7  12.037442       13.047    3.048931     86.953  3.048931
29      2     215.6  12.011106       14.024    2.497364     85.976  2.497364
84  gonna     107.1  15.117686       18.430    2.609291     81.570  2.609291
83   well     108.9  12.853447       20.733    4.126952     79.267  4.126952
53   that     149.9  10.774971       22.766    3.334014     77.234  3.334014
52   shit     151.3  12.383232       25.573    3.926313     74.427  3.926313
19    got     293.2  14.845875       26.284    3.296669     73.716  3.296669
35    new     187.4  10.221981       26.467    3.875828     73.533  3.875828
12   good     359.0  29.070795       27.312    2.929607     72.688  2.929607
90   wait     102.4  12.954622       28.956    4.589873     71.044  4.589873
32   come     192.4  16.668000       30.192    3.153925     69.808  3.153925
69   home     120.3  11.823235       31.426    3.120617     68.574  3.120617
42  right     172.7  11.888837       31.848    3.715466     68.152  3.715466
45  watch     165.4  16.419501       32.301    2.618670     67.699  2.618670
34   back     191.5  14.001984       32.994    3.001819     67.006  3.001819
75   call     116.0  10.934146       33.301    4.306603     66.699  4.306603

## Create sets: training, validation and test

In [10]:
from lib.utils import get_data, get_two_classes, my_train_val_test_split

# training
train_ratio = 0.75
validation_ratio = 0.15
test_ratio = 0.10

In [11]:
for ann in [2,3]:
    print("## agreement on", ann, "annotators")
    # read data
    data = get_data("./data/annotation_results.csv", lim=ann)
    data = get_two_classes(data)
    # create train, validation and test sets
    x_train, x_val, x_test, y_train, y_val, y_test = my_train_val_test_split(data['text'].values, data['class'].values, validation_ratio, test_ratio, 512)
    print("Size of: training -> "+str(len(x_train))+" ("+str(int(100*len(x_train)/(len(data))))+"%), val -> "+str(len(x_val))+" ("+str(int(100*len(x_val)/(len(data))))+"%), test -> "+str(len(x_test))+" ("+str(int(100*len(x_test)/(len(data))))+"%)")
    # save sets
    pd.DataFrame({"text": x_train, "class": y_train}).to_csv("./data/annotation_results__ann"+str(ann)+"_training.csv", index=False)
    pd.DataFrame({"text": x_val, "class": y_val}).to_csv("./data/annotation_results__ann"+str(ann)+"_validation.csv", index=False)
    pd.DataFrame({"text": x_test, "class": y_test}).to_csv("./data/annotation_results__ann"+str(ann)+"_test.csv", index=False)

## agreement on 2 annotators
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## agreement on 3 annotators
Size of: training -> 3036 (75%), val -> 606 (14%), test -> 404 (9%)

In [12]:
for index in range(10):
    print("## sample", (index+1))
    # read data
    pathname = "./data/sample_ann2_"+(("0"+str(index+1))[-2:])
    data = pd.read_csv(pathname+".csv")
    # create train, validation and test sets
    x_train, x_val, x_test, y_train, y_val, y_test = my_train_val_test_split(data['text'].values, data['class'].values, validation_ratio, test_ratio, 512)
    print("Size of: training -> "+str(len(x_train))+" ("+str(int(100*len(x_train)/(len(data))))+"%), val -> "+str(len(x_val))+" ("+str(int(100*len(x_val)/(len(data))))+"%), test -> "+str(len(x_test))+" ("+str(int(100*len(x_test)/(len(data))))+"%)")
    # save sets
    pd.DataFrame({"text": x_train, "class": y_train}).to_csv(pathname+"_training.csv", index=False)
    pd.DataFrame({"text": x_val, "class": y_val}).to_csv(pathname+"_validation.csv", index=False)
    pd.DataFrame({"text": x_test, "class": y_test}).to_csv(pathname+"_test.csv", index=False)

## sample 1
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 2
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 3
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 4
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 5
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 6
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 7
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 8
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 9
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)
## sample 10
Size of: training -> 6575 (75%), val -> 1314 (14%), test -> 876 (9%)